<div class="modal-header">
  <h5 class="modal-title">Pagamento</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= form_with model: instance, url: update_payment_modal_credited_lessons_admin_url(instance), method: :patch, local: false do |f| %>
  <div class="modal-body">
    <div id="modal-errors"></div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= f.label :voucher_id, class: 'control-label' %>
          <%= f.select(:voucher_id, options_from_collection_for_select(instance.client.vouchers.not_expired, :id, :format_srt), { include_blank: "Não usar um voucher" }, { data: { enable_select2: true } }) %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= f.label :new_payment, class: 'control-label' %>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">€</div>
            </div>
            <%= f.number_field :new_payment, class: 'form-control', required: true, step: 0.01, min: 0 %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.submit "Registar Pagamento", class:"btn btn-success" %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
  </div>

  <% params[:index_params]&.each do |key,value| %>
    <%= f.hidden_field "index_params[#{key}]", value: value %>
  <% end %>
<% end %>
