<h1 class="font-weight-bold">POLÍTICA DE COOKIES</h1>

<p class="text-justify">Cookies são pequenos ficheiros de texto que são transferidos para o seu computador, tablet ou
  telemóvel quando visita um site ou aplicação. O site ou aplicação pode recuperar esses cookies do seu navegador
  web (por exemplo, Internet Explorer, Mozilla Firefox ou Google Chrome) cada vez que o visita, para que eles
  possam reconhecê-lo, lembrar das suas preferências e fornecer uma experiência online mais segura.</p>

<p class="text-justify">Geralmente, os cookies são muito úteis e são um método comum usado por quase todos os websites
  que visita, pois ajudam a tornar sua experiência online o mais tranquila possível. Por motivos de segurança,
  muitos websites não funcionarão sem o uso de cookies (ou outras tecnologias semelhantes, como "web beacons" ou
  "tags").
</p>

<p class="text-justify">Os cookies geralmente não contêm nenhuma informação para identificar uma pessoa individual, mas
  são usados para identificar um navegador numa máquina individual.</p>

<p class="text-justify">Se preferir, pode restringir, bloquear ou excluir cookies alterando as configurações do
  navegador, mas isso pode significar que o website não funcionará corretamente.</p>

<p class="text-justify">Para obter mais informações sobre cookies e o seu impacto sobre si e sobre a sua navegação,
  visite <a href="http://www.aboutcookies.org" target="_blank">https://www.aboutcookies.org/</a>.</p>

<h2 class="font-weight-bold">TIPOS DE COOKIES</h2>

<h5 class="font-weight-bold">Cookies Necessários</h5>

<p class="text-justify">Estes cookies são essenciais para o ajudar a usar os recursos e os serviços que oferecemos no
  website StarPadel. Sem esses cookies, os serviços que deseja usar não podem ser fornecidos. Esses cookies não
  recolhem informações que possam ser usadas para o identificar e não monitorizam ou lembram onde esteve na
  Internet.</p>

<h5 class="font-weight-bold">Cookies Funcionais</h5>

<p class="text-justify">Estes cookies permitem-nos proporcionar-lhe uma melhor experiência online quando utiliza o nosso
  website. Eles não recolhem ou armazenam nenhuma informação que nos permita identificá-lo pessoalmente.</p>

<h5 class="font-weight-bold">Cookies de Desempenho</h5>

<p class="text-justify">Os cookies de desempenho ajudam-nos a entender como os nossos clientes usam o nosso website,
  para
  que possamos manter os nossos produtos e serviços relevantes, fáceis de usar e atualizados. Por exemplo, podemos ver
  quais são os produtos e serviços mais populares, identificar quando e onde ocorrem erros e testar diferentes versões
  de uma página para fornecer uma experiência online aprimorada.
</p>

<p class="text-justify">Às vezes, os serviços que usamos para coletar estas informações podem ser operados por outras
  empresas em nosso nome. Elas podem usar tecnologias semelhantes aos cookies, conhecidos como "web beacons" ou "tags".
  Estes são anónimos e, como são utilizados apenas para fins estatísticos, não contêm nem recolhem qualquer informação
  que o identifique.</p>

<h5 class="font-weight-bold">Cookies de Segmentação</h5>

<p class="text-justify">Temos relacionamentos com fornecedores cuidadosamente selecionados e monitorizados (terceiros)
  que também podem configurar cookies durante a sua visita. A finalidade desses cookies é "publicidade comportamental"
  (também conhecida como "segmentação comportamental" ou "remarketing"), que é um meio de mostrar produtos e serviços
  relevantes com base no que parece estar interessado. Embora esses cookies possam rastrear as suas visitas na web,
  eles não sabem quem você é. Sem esses cookies, os anúncios online que encontrar serão menos relevantes e não serão do
  seu interesse.</p>

<h2 class="font-weight-bold">GESTÃO DE COOKIES</h2>

<p class="text-justify">A maioria dos navegadores permite que apague cookies do disco rígido do seu
  computador, bloqueie todos os cookies (ou apenas cookies de terceiros) ou avise antes que um cookie seja armazenado no
  seu dispositivo.</p>

<p class="text-justify">Note que, se optar por bloquear todos os cookies, o nosso website não funcionará como
  pretendido e não poderá usar ou acessar muitos dos serviços que fornecemos. Se bloqueou todos os cookies e
  deseja fazer uso total dos recursos e serviços que oferecemos, precisará de permitir os seus cookies. Pode
  fazer isso no seu navegador (veja abaixo).</p>

<p class="text-justify">Em vez de bloquear todos os cookies, pode optar por bloquear apenas cookies de terceiros,
  que ainda irão permitir que o nosso website funcione conforme pretendido.</p>

<h4 class="font-weight-bold">Como gerir cookies no seu PC</h4>

<p class="text-justify">Para permitir cookies no nosso website, siga os passos abaixo.</p>

<h5 class="font-weight-bold">Google Chrome</h5>

<ol>
  <li>Carregue em "Ferramentas" no topo do seu browser e selecione "Definições".</li>
  <li>Carregue em "Mostrar definições avançadas", faça scroll para baixo para a secção "Privacidade" e carregue em
    "Definições de Conteúdo."</li>
  <li>Selecione "Permitir que dados locais sejam definidos". Para só aceitar cookies primários, marque a caixa ao lado
    de "Bloqueie todos os cookies de terceiros sem exceção"</li>
</ol>

<h5 class="font-weight-bold">Microsoft Internet Explorer 6.0, 7.0, 8.0, 9.0</h5>

<ol>
  <li>Carregue em "Ferramentas" no topo do seu browser e selecione "Opções de Internet", depois carregue na tab
    "Privacidade".</li>
  <li>Verifique se o nível da sua privacidade está definido como Médio ou inferior, o que permitirá o uso de cookies no
    seu navegador.</li>
  <li>Se definido acima do nível médio, impedirá o uso de cookies.</li>
</ol>

<h5 class="font-weight-bold">Mozilla Firefox</h5>

<ol>
  <li>Carregue em "Ferramentas" no topo do seu browser e selecione "Opções".</li>
  <li>Depois selecione o ícone "Privacidade".</li>
  <li>Carregue em "Cookies" e selecione "Permitir que as páginas criem um cookie."</li>
</ol>

<h5 class="font-weight-bold">Safari</h5>

<ol>
  <li>Clique no ícone de engrenagem na topo do seu browser e selecione "Configurações".</li>
  <li>Carregue na tab "Privacidade", depois selecione a opção "Desativar o uso de cookies por terceiros e cookies de
    publicidade."</li>
  <li>Carregue em "Guardar".</li>
</ol>

<h4 class="font-weight-bold">Como gerir cookies no seu Mac</h4>

<p class="text-justify">Para permitir cookies no nosso website, siga os passos abaixo.</p>

<h5 class="font-weight-bold">Microsoft Internet Explorer 5.0 on OSX</h5>

<ol>
  <li>Carregue em "Explorador" no topo do seu browser e selecione "Definições".</li>
  <li>Faça scroll para baixo até à secção "Cookies" nos "Ficheiros Recebidos".</li>
  <li>Selecione "Não Perguntar."</li>
</ol>

<h5 class="font-weight-bold">Safari no OSX</h5>

<ol>
  <li>Carregue em "Safari" no topo do seu browser e selecione "Definições".</li>
  <li>Carregue em "Privacidade" e depois "Permitir cookies."</li>
  <li>Selecione "apenas as páginas que visitou."</li>
</ol>

<h5 class="font-weight-bold">Mozilla e Netscape no OSX</h5>

<ol>
  <li>Carregue em "Mozilla" ou "Netscape" no topo do seu browser e selecione "Definições".</li>
  <li>Faça scroll para baixo até à secção "Cookies" sob "Privacidade e Segurança".</li>
  <li>Selecione "Permitir cookies apenas para o site original."</li>
</ol>

<h5 class="font-weight-bold">Opera</h5>

<ol>
  <li>Carregue em "Menu" no topo do seu browser e selecione "Definições".</li>
  <li>Depois selecione a tab "Opção" e "Avançadas".</li>
  <li>Seleciona "Permitir cookies."</li>
</ol>

<h4 class="font-weight-bold">Os nossos cookies</h4>

<p class="text-justify">Na tabela abaixo sistematiza-se alguma informação relacionada com os vários tipos de cookies
  utilizados e o propósito de cada um:</p>

<div class="table-responsive-sm table-mobile">
  <table class="table table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th style="text-align: center;" scope="col">Origem do Cookie</th>
        <th style="text-align: center;" scope="col">Tipo</th>
        <th style="text-align: center;" scope="col">Finalidade</th>
        <th style="text-align: center;" scope="col">Utilização</th>
      </tr>
    </thead>
    <tbody>
      <% @our_cookies.each do |our_cookie| %>
        <tr>
          <td style="text-align: center; vertical-align: middle;"><%= our_cookie[:source] %></td>
          <td style="text-align: center; vertical-align: middle;"><%= our_cookie[:kind] %></td>
          <td style="text-align: center; vertical-align: middle;"><%= our_cookie[:goal] %></td>
          <td style="text-align: center; vertical-align: middle;"><%= our_cookie[:use] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="list-group list-mobile mb-3">
  <% @our_cookies.each do |our_cookie| %>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <p class="mb-1"><span class="font-weight-bold">Origem do our_Cookie </span><%= our_cookie[:source] %></p>
      <p class="mb-1"><span class="font-weight-bold">Tipo </span><%= our_cookie[:kind] %></p>
      <p class="mb-1"><span class="font-weight-bold">Finalidade </span><%= our_cookie[:goal] %></p>
      <p class="mb-1"><span class="font-weight-bold">Utilização </span><%= our_cookie[:use] %></p>
    </div>
  <% end %>
</div>
