<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style>
      .welcome {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
        line-height: 1.25;
        font-size: 32px;
        color: #151e27;
        text-align: left;
        margin: 20px 0
      }
      
      a.logo-link {
        text-decoration:none;color:#0654ba
      }
      
      .logo {
        display: inline-block;
        text-decoration: none;
        border: none;
        width: 133px;
      }
      
      p {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
        color: #333333;
        text-align: left;
        font-size: 14px;
        line-height: 24px;
        border-collapse: collapse !important;
        border-spacing: 0 !important;
        border: none;
        padding: 0 0 20px
      }
      
      hr {
        max-width: 112px;
        margin-left: 0;
        border: 2px solid #ffa722
      }
      
      p.discloser {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
        line-height: normal;
        color: #707070;
        text-align: left;
        font-size: 11px;
        margin: 0 0 10px
      }
    </style>
  </head>

  <body>
    <a href="<%= @url %>" class="logo-link" target="_blank">
      <%= image_tag("logo.png", class: "logo") %>
    </a>
    <h3 class="welcome">Bem vindo ao StarPadel Coimbra!</h3>
    <hr>
    <p>Se recebeste este email é porque pediste que a nossa equipa criasse as tuas credenciais
      para acederes à nossa plataforma.<br>
      Poderás aceder à tua <a href="<%= @url %>clients/" target="_blank">Área Privada</a> para
      consultar as tuas aulas e os teus
      vouchers</p>
    <p>Credenciais de acesso:<br>
      Email: <b><%= @client.email %></b><br>
      Palavra-Pass: <b><%= @password %></b>
    </p>
    <p>Deverás alterar a tua Palavra-Pass depois de efetuares login pela primeira vez.</p>
    <p>Obrigado por te juntares a nós,<br>
      A equipa StarPadel Coimbra
    </p>

    <p class="discloser">Se não foste tu que pediste que fossem geradas estas credenciais, por favor entra em contacto com
      a nossa equipa.
    </p>
  </body>
</html>
