<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <a href="<%= @url %>" class="logo-link" target="_blank">
      <%= image_tag("logo.png", class: "logo") %>
    </a>
    <h3 class="welcome">Olá <%= @client.name %>!</h3>
    <hr>
    <p>Se recebeste este email é porque pediste que a nossa equipa gerasse novas credenciais
      para acederes à nossa plataforma.<br>
      Poderás aceder à tua <a href="<%= @url %>clients/" target="_blank">Área Privada</a> para
      consultar as tuas aulas e os teus
      vouchers</p>
    <p>Novas Credenciais de acesso:<br>
      Email: <b><%= @client.email %></b><br>
      Palavra-Pass: <b><%= @password %></b>
    </p>
    <p>Deverás alterar a tua Palavra-Pass depois de efetuares login pela primeira vez.</p>
    <p>Obrigado por te juntares a nós,<br>
      A equipa StarPadel Coimbra
    </p>

    <p class="discloser">Se não foste tu que pediste que fossem geradas estas credenciais, por favor entra em contacto com
      a nossa equipa.
    </p>
  </body>
</html>
