<h2 class="title">Vouchers</h2>

<div class="container">
  <%= form_tag(clients_vouchers_path, method: :get) do %>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="input-group voucher-filter">
          <div class="input-group-prepend">
            <span class="input-group-text"><icon class="fa fa-search"></icon></span>
          </div>
          <%= search_field_tag :code, params[:code], class: "form-control", autocomplete: "off", placeholder: "Procurar código...", oncreate:"this.form.submit()", onchange: "this.form.submit()" %>
        </div>
      </div>

      <% @filters_drop_down_array.each do |filter| %>
        <%= filter(filter, "col-12 col-md-4") %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="mb-3" data-controller="vouchers">
  <div class="table-responsive table-mobile">
    <table class="table table-hover">
      <thead>
        <tr class="thead-dark">
          <th>Código</th>
          <th>Valor</th>
          <th>Valor Utilizado</th>
          <th>Valor Disponível</th>
          <th>Criado em</th>
          <th>Validade</th>
        </tr>
      </thead>
      <tbody>
        <% @vouchers.each do |voucher| %>
          <tr data-href="<%= clients_voucher_movements_path(voucher) %>" data-action="click->vouchers#openHref" style="cursor: pointer;" class="pointer">
            <td><%= voucher.code %></td>
            <td><%= number_to_currency(voucher.value) %></td>
            <td><%= number_to_currency(voucher.value_used) %></td>
            <td><%= number_to_currency(voucher.value_remaining) %></td>
            <td><%= l(voucher.created_at, format: :short) %></td>
            <td>
              <% if voucher.validity.present? %>
                <%= status_tag(l(voucher.validity, format: :short), badge_color(!voucher.expired?)) %>
              <% else %>
                Sem Validade
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="list-group list-mobile mt-3">
    <% @vouchers.each do |voucher| %>
      <div data-href="<%= clients_voucher_movements_path(voucher) %>" data-action="click->vouchers#openHref" style="cursor: pointer;" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 title font-weight-bold"><%= voucher.code %></h5>
          <small><%= number_to_currency(voucher.value) %></small>
        </div>
        <p class="mb-1"><span class="font-weight-bold">Atribuído a </span><%= voucher.created_at.strftime("%d/%m/%Y") %></p>
        <p class="mb-1"><span class="font-weight-bold">Utilizado </span><%= number_to_currency(voucher.value_used) %></p>
        <p class="mb-1"><span class="font-weight-bold">Disponível </span><%= number_to_currency(voucher.value_remaining) %></p>
        <p class="mb-1"><span class="font-weight-bold">Validade </span>
          <% if voucher.validity.present? %>
            <%= status_tag(l(voucher.validity, format: :short), badge_color(!voucher.expired?)) %>
          <% else %>
            Sem Validade
          <% end %></p>
      </div>
    <% end %>
  </div>

</div>

<%= paginate @vouchers %>
