
<%= stylesheet_link_tag "creditedlessons.css" %>


<h1 class="title">Vouchers</h1>

<div class="table-responsive">
<table class="table">
  <tr class="thead-dark">
    <th>Código</th>
    <th>Valor</th>
    <th>Valor Utilizado</th>
    <th>Valor Disponível</th>
    <th>Criado em</th>
    <th>Validade</th>
    <th>
      <th>
      </tr>
      <% @vouchers.each do |voucher| %>
        <tr>
          <td><%= voucher.code %></td>
          <td><%= voucher.value %></td>
          <td><%= number_to_currency(voucher.value_used) %></td>
          <td><%= number_to_currency(voucher.value_remaining) %></td>
          <td><%= l(voucher.created_at, format: :short) %></td>
          <td><%= voucher.validity.present? ? l(voucher.validity, format: :short) : "Sem Validade" %></td>
          <td><%= link_to("Movimentos", clients_voucher_movements_path(voucher),class: 'show') %>
          </tr>
        <% end %>
      </table>
      </div>
