<table>
  <tr>
    <th>Tipo de Aula</th>
    <th>Horário</th>
    <th>Credita em</th>
    <th>Nº de Aulas</th>
    <th>Estado do Pagamento</th>
  </tr>
  <tr>
    <td><%= @credited_lesson.lessons_type.name %></td>
    <td><%= t("activerecord.enums.time_period.#{@credited_lesson.time_period}") %></td>
    <td><%= l(@credited_lesson.created_at, format: :short) %></td>
    <td><%= @credited_lesson.remaining_lessons_str %></td>
    <td><%= @credited_lesson.payment_left_str %></td>
  </tr>
</table>

<table class="mt-3">
  <tr>
    <th>Hora de Inicio</th>
    <th>Hora de Fim</th>
    <th>Treinador</th>
  </tr>
  <% @lessons.find_each do |lesson| %>
    <tr>
      <td><%= lesson.start_time.present? ? l(lesson.start_time) : "Não Registado" %></td>
      <td><%= lesson.end_time.present? ? l(lesson.end_time) : "Não Registado" %></td>
      <td><%= lesson.coach_admin&.username || "Não Atribuído" %></td>
    </tr>
  <% end %>
</table>
