<% content_for(:title, admin.admin_name.titleize) %>

<%= render layout: "layout", locals: { wrapper: true, sidebar: false, hide_breadcrumbs: true } do %>
  <%= form_tag request.path, method: :get do %>
    <div class="row">
      <div class="col">
        <div class="form-group" style="display: inline-block">
          <%= label_tag(:start_date, "Data de Inicio:") %>
          <%= date_field_tag :start_date, params[:start_date], class: "form-control", data: { picker: true } %>
        </div>
        <div class="form-group" style="display: inline-block">
          <%= label_tag(:end_date, "Data de Fim:") %>
          <%= date_field_tag :end_date, params[:end_date], class: "form-control", data: { picker: true } %>
        </div>
        <div class="form-group"  style="display: inline-block">
          <button class="btn btn-light has-icon" type="button" onclick="this.form.submit()">
            <i class="fas fa-filter" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <p>ATENÇÃO! Se não for introduzida nenhuma data, serão mostrados os registos dos últimos 31 dias.</p>
  <% end %>

  <div class="row mt-3">
    <div class="col">
      <%= line_chart clients_line_chart_path(start_date: params[:start_date], end_date: params[:end_date]), title: "Adesão de Novos Sócios"  %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <%= line_chart lessons_type_line_chart_path(start_date: params[:start_date], end_date: params[:end_date]), title: "Creditação de Aulas"  %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <%= pie_chart clients_pie_chart_path(start_date: params[:start_date], end_date: params[:end_date]), title: "Total de Clientes" %>
    </div>
    <div class="col">
      <%= pie_chart clients_members_pie_chart_path(start_date: params[:start_date], end_date: params[:end_date]), title: "Clientes Sócios" %>
    </div>
    <div class="col">
      <%= pie_chart adults_and_childrens_pie_chart_path(start_date: params[:start_date], end_date: params[:end_date]), title: "Adultos e Crianças" %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= pie_chart lessons_type_pie_chart_path(start_date: params[:start_date], end_date: params[:end_date]), title: "Tipos de Aula Creditadas" %>
    </div>
  </div>
<% end %>
