<div class="modal-header">
  <h5 class="modal-title">Pagamento</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= form_with model: instance, url: update_payment_modal_client_lessons_groups_admin_url(instance), method: :patch, local: false do |f| %>
  <div class="modal-body">

    <div id="modal-errors"></div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= f.label :new_payment, class: 'control-label text-center' %>
          <%= f.number_field :new_payment, class: 'form-control', required: true, step: 0.01, min: 0 %>
        </div>
      </div>
    </div>

    <div class="modal-footer">
    <%= f.submit "Registar Pagamento", class:"btn btn-success" %>
  </div>

    <% params[:index_params]&.each do |key,value| %>
      <%= f.hidden_field "index_params[#{key}]", value: value %>
    <% end %>
  <% end %>
