<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-login" }) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inputfield", placeholder: "Email" %>
  </div>

  <div class="field pass">
    <%= f.password_field :password, autocomplete: "current-password", class: "inputfield", placeholder: "Palavra-Pass" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="custom-control custom-checkbox remember-me">
      <%= f.check_box :remember_me, class: "custom-control-input" %>
      <%= f.label :remember_me, "Manter Sessão Ativa", class: "custom-control-label" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Entrar", class: "button" %>
  </div>

<% end %>

<div class="background"></div>

<%= render "devise/shared/links" %>