<% class_name = instance.class.name.underscore %>

<% if current_user.super_admin? %>
  <div class="btn-toolbar primary-toolbar d-flex justify-content-end" role="toolbar">
    <%= link_to "Editar", edit_lessons_type_admin_path(instance), class: "btn btn-warning" %>
  </div>
<% end %>

<div class="row">
  <div class="col">
    <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'name', value: instance.name } %>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'green_time_not_member_price', value: number_to_currency(instance.green_time_not_member_price, unit: "€") } %>
  </div>
  <div class="col-6">
    <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'red_time_not_member_price', value: number_to_currency(instance.red_time_not_member_price) } %>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'green_time_member_price', value: number_to_currency(instance.green_time_member_price) } %>
  </div>
  <div class="col-6">
    <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'red_time_member_price', value: number_to_currency(instance.red_time_member_price) } %>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'is_pack', value: instance.is_pack } %>
  </div>

  <% if instance.is_pack %>
    <div class="col-6">
      <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'number_of_lessons', value: instance.number_of_lessons } %>
    </div>
  <% end %>
</div>

<%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'is_active', value: instance.is_active } %>

<div class="row mt-5">
  <div class="col">
    <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'comments', value: instance.comments } %>
  </div>
</div>
