<% content_for(:title, admin.t("titles.index", default: "Listing %{pluralized_model_name}")) %>

<% toolbar(:primary) do |t| %>
  <%= t.new %>
<% end %>

<% if @export.present? %>
  <% toolbar(:secondary) do |t| %>
    <%= link_to("#{@export[:path]}?#{@export[:params]}", class: "btn-export", remote: false) do %>
      <i class="fas fa-download"></i><span><%= @export[:text] %></span>
    <% end %>
  <% end %>
<% end %>

<% content_for(:utilities) do %>
  <%= render "scopes" %>
<% end if admin.scopes.any? %>

<%= render layout: "layout" do %>
  <% if hook?("resource.index.header") %>
    <header class="main-content-header">
      <%= hook("resource.index.header") %>
    </header>
  <% end %>

  <%= render "admin/filters", filter_url: request.path, filters: @filter_dropdown_lists, search: true, filter_dates: @filter_dates %>
  <%= render "trestle/table/table", table: admin.table, collection: collection %>

  <footer class="main-content-footer">
    <%= hook("resource.index.footer") %>
    <%= pagination collection: collection, entry_name: admin.model_name, remote: false %>
  </footer>
<% end %>
