<% if instance.class.column_names.include?("name") %>
  <% instance_name = "- #{instance.name}" %>
<% elsif instance.class.column_names.include?("title") %>
  <% instance_name = "- #{instance.title}" %>
<% else %>
  <% instance_name = "" %>
<% end %>

<% title = admin.t("titles.show", default: "Mostrar %{model_name}", instance_name: instance_name ) %>

<% content_for(:title, title) %>
<% breadcrumb(title) %>

<% if @hide_breadcrumbs.present? %>
  <% local_assigns[:hide_breadcrumbs] = @hide_breadcrumbs %>
<% end %>

<header class="content-header">
  <div class="content-header-title">
    <h1><%= title %></h1>
    <% unless local_assigns.fetch(:hide_breadcrumbs, false) %>
      <ol class="breadcrumb">
        <% breadcrumbs.each do |breadcrumb| %>
          <li class="breadcrumb-item<% if breadcrumb == breadcrumbs.last %> active<% end %>">
            <%= link_to breadcrumb.label, breadcrumb.path %>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
  <div class="row">
    <% @header_partials&.each do |partial| %>
      <div class="column mr-5">
        <%= render partial[:path], partial[:options] %>
      </div>
    <% end %>
  </div>
</header>

<div class="main-content-area">
  <%= render "trestle/flash/flash" %>

  <ul class="nav nav-tabs">
    <% @tabs&.each_with_index do |tab, index| %>
      <li class="nav-item">
        <a class="nav-link <%= active_tab(tab[:tab_id],index, params[:page]) %>" role="tab" data-toggle="tab" href="#<%= tab[:tab_id] %>" aria-selected="false"><%= I18n.t("admin.tabs.#{tab[:tab_name]}") %></a>
      </li>
    <% end %>
  </ul>

  <div class="main-content-container">
    <div class="main-content">
      <% if @tabs.present? %>
        <% @tabs&.each_with_index do |tab, index| %>
          <div id="<%= tab[:tab_id] %>" class="tab-pane <%= active_tab(tab[:tab_id],index, params[:page]) %>" role="tabpanel">
            <% if tab.has_key?(:button_path) && tab.has_key?(:button_text) %>
              <div class="btn-toolbar primary-toolbar d-flex justify-content-end" role="toolbar">
                <%= link_to tab[:button_text], tab[:button_path], class: "btn btn-#{tab.fetch(:button_color, "success")}", data: { behavior: tab[:button_behavior] } %>
              </div>
            <% end %>

            <% if tab.has_key?(:records) %>
              <%= render "admin/filters", filter_url: "#{request.path}#!#{tab[:tab_id]}", filters: tab[:filters], filter_dates: tab[:filter_dates] %>
              <%= table tab[:trestle_class].table, collection: tab[:records] %>
              <footer class="main-content-footer">
                <%= pagination collection: tab[:records], remote: false, params: { anchor: "!#{tab[:tab_id]}" } %>
              </footer>
            <% elsif tab.has_key?(:record) && lookup_context.exists?("trestle/resource/#{tab[:tab_name]}/show", [], true) %>
              <%= render partial: "trestle/resource/#{tab[:tab_name]}/show", locals: { instance: tab[:instance] } %>
            <% end %>
          </div>
        <% end %>
      <% elsif lookup_context.exists?("trestle/resource/#{instance.class.name.downcase}/show", [], true) %>
        <%= render partial: "trestle/resource/#{instance.class.name.downcase}/show", locals: { instance: instance } %>
      <% end %>
    </div>
  </div>
</div>
