<% class_name = instance.class.name.underscore %>

<% if current_user.super_admin? %>
  <div class="btn-toolbar primary-toolbar d-flex justify-content-end" role="toolbar">
    <%= link_to "Editar", edit_client_lessons_admin_path(instance), class: "btn btn-warning", data: {behavior: "dialog"} %>
  </div>
<% end %>

<div class="row">
  <div class="col">
    <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'client', value: instance.client } %>
  </div>
  <div class="col">
    <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'lessons_type', value: instance.lessons_type } %>
  </div>
  <div class="col">
    <dt>
      <span class="label label-info">
        <%= t("activerecord.attributes.#{class_name}.time_period") %>
        <dd class="well">
          <span class="badge badge-<%= instance.client_lessons_group.green_time? ? 'success' : 'danger'%>">
            <%= t("activerecord.enums.time_period_list.#{instance.client_lessons_group.time_period}") %>
          </span>
        </dd>
      </span>
    </dt>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'start_time', value: instance.start_time } %>
  </div>
  <div class="col-6">
    <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'end_time', value: instance.end_time } %>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'comments', value: instance.comments } %>
  </div>
</div>
