<h2 class="title">As Minhas Aulas Creditadas</h2>

<div class="mb-3" data-controller="creditedLessons">
  <div class="table-responsive table-mobile">
    <table class="table table-hover">
      <tr class="thead-dark">
        <th>Tipo de Aula</th>
        <th>Horário</th>
        <th>Credita em</th>
        <th>Nº de Aulas</th>
        <th>Estado do Pagamento</th>
      </tr>
      <% @credited_lessons.each do |credited_lesson| %>
        <tr data-href="<%= clients_credited_lesson_lessons_path(credited_lesson) %>" data-action="click->creditedLessons#openHref" style="cursor: pointer;" class="pointer">
          <td><%= credited_lesson.lessons_type.name %></td>
          <td><span class="badge badge-pill badge-<%= credited_lesson.green_time? ? "success" : "danger" %>"><%= t("activerecord.enums.time_period.#{credited_lesson.time_period}") %></span></td>
          <td><%= credited_lesson.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= credited_lesson.remaining_lessons_str %></td>
          <td>
            <% if credited_lesson.paid? %>
              <span class="badge badge-pill badge-success">Completo</span>
            <% else %>
              <%= credited_lesson.payment_left_str %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="list-group list-mobile">
    <% @credited_lessons.each do |credited_lesson| %>
      <div data-href="<%= clients_credited_lesson_lessons_path(credited_lesson) %>" data-action="click->creditedLessons#openHref" style="cursor: pointer;" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 title font-weight-bold"><%= credited_lesson.lessons_type.name %></h5>
          <small><span class="badge badge-pill badge-<%= credited_lesson.green_time? ? "success" : "danger" %>"><%= t("activerecord.enums.time_period.#{credited_lesson.time_period}") %></span></small>
        </div>
        <p class="mb-1"><span class="font-weight-bold">Credita em </span><%= credited_lesson.created_at.strftime("%d/%m/%Y") %></p>
        <p class="mb-1"><span class="font-weight-bold">Aulas </span><%= credited_lesson.remaining_lessons_str %></p>
        <p class="mb-1"><span class="font-weight-bold">Pagamento </span>
          <% if credited_lesson.paid? %>
            <span class="badge badge-pill badge-success">Completo</span>
          <% else %>
            <%= credited_lesson.payment_left_str %>
          <% end %></p>
      </div>
    <% end %>
  </div>

</div>

<%= paginate @credited_lessons %>
