<!DOCTYPE html>
<html>
  <head>
    <title>Starpadel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app-wrapper">
      <div class="app-container">
        <%= render partial: "layouts/header" %>
        <%= render_breadcrumbs(@breadcrumbs) %>
        <%= render partial: "layouts/alert" %>
        <%= render partial: "layouts/notice" %>

        <main class="app-main">
          <div class="container mt-3">
            <%= yield %>
          </div>
        </main>

        <%= render partial: "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
