<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-login" }) do |f| %>
  <%#= render "clients/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autocomplete: "email", class: field_with_errors_class(resource, :email, "inputfield"), placeholder: "Email" %>
    <div class="invalid-feedback">
      <%= resource.errors[:email].map(&:capitalize).join('<br>').html_safe %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Enviar instruções de redefinição", class: "button" %>
  </div>

  <%- if controller_name != 'sessions' %>
    <%= link_to "Log in", new_session_path(resource_name) %><br />
  <% end %>
<% end %>

<div class="background"></div>
<%#= render "clients/shared/links" %>
